.hide {
  visibility: hidden;
}

/*fade-in animation*/
.fadeIn {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*fade-in animation*/
.fadeOut {
  animation: fadeOut_kf 0.5s ease-in;
}

@keyframes fadeOut_kf {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*vibrate animation*/
.vibrate {
  animation: vibrate_kf 0.5s infinite;
}

@keyframes vibrate_kf {
  0% {
    rotate: 0deg;
  }
  25% {
    rotate: -2deg;
  }
  75% {
    rotate: 0deg;
  }
  100% {
    rotate: 2deg;
  }
}

.transform {
  animation: transform_kf 1s infinite;
}

@keyframes transform_kf {
  0% {
    text-transform: none;
  }
  50% {
    text-transform: uppercase;
    color: #3a585d;
    font-size: 1.7rem;
  }
  100% {
    text-transform: uppercase;
    color: #513d34;
    font-size: 1.3rem;
  }
}

.transform2 {
  animation: transform_fk 0.5s infinite;
}

@keyframes transform_fk {
  0% {
    text-transform: none;
  }
  50% {
    text-transform: uppercase;
    color: #3a585d;
    font-size: 1.3rem;
  }
  100% {
    text-transform: uppercase;
    color: red;
    font-size: 0.9rem;
  }
}

.colortransform {
  animation: color_kf 1s linear;
}

@keyframes color_kf {
  0% {
    background-color: rgb(189, 28, 28);
  }
  25% {
    background-color: orange;
  }
  50% {
    background-color: yellow;
  }
  75% {
    background-color: greenyellow;
  }
  100% {
    background-color: lightblue;
  }
}
