:root {
  /* Colours */
  --color-bg: light-dark(#e7e3b0, #5a5948); /* page background /*


  /* Header */
  --color-head-bg: light-dark(#d77b55, #926f60);

  /* Logotype */
  --color-logotype-bg: light-dark(#513d34, #2a221e);
  --color-text-logotype: #ad8f64;
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: light-dark(#3a585d, #354345);
  /* Links */
  --color-link-bg: light-dark(#ad8f64, #927955);
  --color-link-hover: light-dark(#da2c38, #e84853); /* used */
  --color-link-active: light-dark(#513d34, #2a221e); /* used */
  --border-radius-links: 7px;

  /* Headlines og rubrik */
  --font-h1-size: 4rem;
  --font-sub1-size: 2rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: light-dark(#da2c38, #e84853);
  --color-headline-text-page: #fffcd6;

  /* Tekst */
  --color-text: #fffcd6;
  --color-text-inverted: #fffcd6;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: light-dark(#98a77e, #869966);
  --color-cta-card-bg: light-dark(#d77b55, #926f60);
  /* news-cards */
  --color-news-bg: light-dark(#3a585d, #354345);
  --color-news-bg-inverted: light-dark(#513d34, #2a221e);
  --color-cta-newscard-bg: light-dark(#ad8f64, #927955);
  --color-cta-newscard-bg-inverted: light-dark(#d77b55, #926f60);

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: light-dark(#98a77e, #869966);
  --color-infobox-1-bg: light-dark(#ad8f64, #927955);
  --color-infobox-2-bg: light-dark(#d77b55, #926f60);
}
html {
  color-scheme: light dark;
}

html.dark {
  color-scheme: dark;
}

footer {
  background-color: light-dark(#ad8f64, #927955);
  justify-items: center;
}

/*rykker p-tekst i teaserbokse længere mod højre*/
.move {
  padding-left: 7px;
}

/*rykker h1 på forside ned til midten af logo-ikonet*/
.move-down {
  padding-block: 3rem;
}

/*ændre width på ikon-logo*/
.width-change {
  width: 160px;
  height: 190px;
}
/*rykker logo ikon og h1 længere ned på orange boks*/
#main-disclamer-content {
  padding-top: 40px;
}
/*ændre størrelsen på billederne i nyhederne*/
.width-change-img {
  width: 295px;
  border-radius: 15px;
}

/*dialog-bokse, første modal*/
#dialog1 {
  background-color: light-dark(#e7e3b0, #5a5948);
  color: light-dark(black, #fffcd6);
  max-height: 90vh;
  max-width: 60ch;
  width: 90vw;
  border-color: light-dark(#513d34, #2a221e);
}

/*popup modaler, anden og tredje modal*/
#popup {
  background-color: light-dark(#fffcd6, #7d7c64);
  color: light-dark(black, #fffcd6);
  max-height: 90vh;
  max-width: 60ch;
  width: 90vw;
  border-color: light-dark(#513d34, #2a221e);
}
#popup1 {
  background-color: light-dark(#fffcd6, #7d7c64);
  color: light-dark(black, #fffcd6);
  max-height: 90vh;
  max-width: 60ch;
  width: 90vw;
  border-color: light-dark(#513d34, #2a221e);
}

#popup3 {
  background-color: light-dark(#fffcd6, #89886f);
  color: light-dark(black, #fffcd6);
  max-height: 90vh;
  max-width: 60ch;
  width: 90vw;
  border-color: light-dark(#513d34, #2a221e);
  padding: 1rem;
  padding-top: 0;
  transition: all 1s ease;
}
.popupteaser {
  color: light-dark(black, #fffcd6);
}

#popup4 {
  background-color: light-dark(#fffcd6, #7d7c64);
  color: light-dark(black, #fffcd6);
  max-height: 90vh;
  max-width: 60ch;
  width: 90vw;
  border-color: light-dark(#513d34, #2a221e);
  padding: 1rem;
  padding-top: 0;
  /*transition: all 1s ease;*/
}
/*ændre skriftfarve i modaler afhængigt af light-dark mode*/

/*harmonika styling*/
summary {
  background-color: light-dark(#d77b55, #926f60);
  padding: 1rem;
}
/*fjerner default trekanten der symbolisere åben/lukket*/
summary::marker {
  content: none;
}
/*giver harmonikaen + og - tegn baseret på åben/lukket i stedet*/
summary::after {
  content: "+";
  font-family: system-ui;
  font-weight: 400;
  font-size: 1.1rem;
}

[open] summary::after {
  content: "–";
}
/*animere harmonikaen, så indholdet folder ud i stedet for bare at poppe ud*/
::details-content {
  height: 0;
  overflow: clip;
  transition: 1s allow-discrete;
}

[open]::details-content {
  height: auto;
}

/*toppen og bunden af harmonikaen*/
#top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#bottom {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
/*gør summary teksten lys*/
.summary-text {
  color: #fffcd6;
}

/*baggrunden*/
::backdrop {
  backdrop-filter: blur(10px);
}

/*animation med transitions på anden og tredje modaler*/
[popover] {
  opacity: 0;
  rotate: 360deg;
  transition: 0.5s allow-discrete;
}

[popover]:popover-open {
  opacity: 1;
  rotate: none;

  @starting-style {
    opacity: 0;
    rotate: 360deg;
  }
}

/*animation på teaser modaler*/
[popover].popupteaser {
  opacity: 0;
  transition: 1s allow-discrete;
}

[popover]:popover-open {
  opacity: 1;
  rotate: none;

  @starting-style {
    opacity: 0;
  }
}

/*gør h3 større i modaler*/
.bigger-text {
  font-size: 1.8rem;
}

/*se mere knapper*/
.cta_btn {
  border: none;
  text-align: left;
}

.cta_btn:hover {
  background-color: light-dark(#3a585d, #354345);
}

/*luk knap styling*/
#close_btn {
  background-color: #ad8f64;
  padding-block: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  color: #fffcd6;
  border: none;
}

#close_btn:hover {
  background-color: light-dark(#3a585d, #354345);
}

/*læs mere knap styling*/
#cta_open1 {
  border: none;
}
#cta_open2 {
  border: none;
}

#cta_open1:hover {
  background-color: light-dark(#d77b55, #926f60);
  border: none;
}
#cta_open2:hover {
  background-color: light-dark(#3a585d, #354345);
  border: none;
}

/*logostyling*/
#logotypeimg {
  width: 330px;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  padding-left: 0;
}
#logotypeimg:hover {
  padding: 0;
  width: 360px;
  background: none;
}

/*teaser billeder styling*/
.teaserimg {
  padding-top: 0.8rem;
  border-radius: 0;
  height: 215px;
}

.teaserimg2 {
  padding-top: 0.8rem;
  border-radius: 0;
  height: 195px;
}

/*skema på teaser 3*/
table {
  border: light-dark(#513d34, #2a221e) solid;
  text-align: left;
  background-color: light-dark(#d4b892, #905e98);
}
th {
  background-color: light-dark(#ad8f64, #6a346d);
  padding: 0.6rem;
}
td {
  padding: 0.6rem;
  border: light-dark(#513d34, #2a221e) solid;
}

table,
th,
td,
tr {
  border-collapse: collapse;
}

.bcg-change {
  background-color: light-dark(#e3d2b9, #b392b6);
}

/*TOGGLE BUTTON*/
#theme-btn {
  border-radius: 10px;
  background-color: light-dark(#da2c38, #e84853);
  border: none;
  padding: 0.4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 10rem;
  font-size: 1rem;
  width: 200px;
}

#theme-btn:hover {
  background-color: light-dark(#98a77e, #869966);
}
/*footer surprise knapper*/
footer {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.tekstboksspil {
  margin: 0;
  background-color: light-dark(#da2c38, #e84853);
  padding: 11.1rem;
  border: none;
  color: light-dark(#3a585d, #354345);
  border-top-left-radius: 30px;
}
.tekstboksspil2 {
  margin: 0;
  background-color: light-dark(#da2c38, #e84853);
  padding: 10rem;
  border: none;
  color: light-dark(#3a585d, #354345);
}
.tekstboksspil3 {
  margin: 0;
  background-color: light-dark(#da2c38, #e84853);
  padding: 10rem;
  border: none;
  color: light-dark(#3a585d, #354345);
  border-top-right-radius: 30px;
}
/*********/
.surprise_btn {
  background-color: light-dark(#3a585d, #354345);
  margin: 1rem;
  padding-block: 0.7rem;
  border-radius: 30px;
  padding-left: 5rem;
  padding-right: 5rem;
  border: none;
  color: light-dark(#3a585d, #354345);
}
.surprise_btn:hover {
  background-color: light-dark(#98a77e, #869966);
  color: light-dark(#98a77e, #869966);
}

/*forskellige farver til forskellige knapper*/

#spb1 {
  background-color: light-dark(#3a585d, #354345);
  padding-left: 4.8rem;
  padding-right: 4.8rem;
}
#spb1:hover {
  box-shadow: rgb(44, 31, 8) 5px 6px 10px;
  background-color: light-dark(#98a77e, #869966);
  color: #fffcd6;
  padding-left: 4.2rem;
  padding-right: 4.2rem;
}

#spb2 {
  background-color: light-dark(#3a585d, #354345);
}
#spb2:hover {
  box-shadow: rgb(44, 31, 8) 5px 6px 10px;
  background-color: light-dark(#98a77e, #869966);
  color: #fffcd6;
  padding-left: 4.2rem;
  padding-right: 4.2rem;
}

#spb3 {
  background-color: light-dark(#3a585d, #354345);
}
#spb3:hover {
  box-shadow: rgb(44, 31, 8) 5px 6px 10px;
  background-color: light-dark(#98a77e, #869966);
  color: #fffcd6;
  padding-left: 4.2rem;
  padding-right: 4.2rem;
}

#spb4 {
  background-color: light-dark(#3a585d, #354345);
}
#spb4:hover {
  box-shadow: rgb(44, 31, 8) 5px 6px 10px;
  background-color: light-dark(#98a77e, #869966);
  color: #fffcd6;
  padding-left: 4.2rem;
  padding-right: 4.2rem;
}

#spb5 {
  background-color: light-dark(#3a585d, #354345);
  padding-left: 4.8rem;
  padding-right: 4.8rem;
}
#spb5:hover {
  box-shadow: rgb(44, 31, 8) 5px 6px 10px;
  background-color: light-dark(#98a77e, #869966);
  color: #fffcd6;
  padding-left: 4.2rem;
  padding-right: 4.2rem;
}
