:root {
  /* Colours */
  --color-bg: #e7e3b0; /* page background /*

  /* Header */
  --color-head-bg: #d77b55;

  /* Logotype */
  --color-logotype-bg: #513d34;
  --color-text-logotype: #ad8f64;
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: #3a585d;
  /* Links */
  --color-link-bg: #ad8f64;
  --color-link-hover: #da2c38; /* used */
  --color-link-active: #513d34; /* used */
  --border-radius-links: 7px;

  /* Headlines og rubrik */
  --font-h1-size: 1rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: #da2c38;
  --color-headline-text-page: #42413d;

  /* Tekst */
  --color-text: #e7e3b0;
  --color-text-inverted: #cdccc4;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: #98a77e;
  --color-cta-card-bg: #d77b55;
  /* news-cards */
  --color-news-bg: #3a585d;
  --color-news-bg-inverted: #513d34;
  --color-cta-newscard-bg: #ad8f64;
  --color-cta-newscard-bg-inverted: #d77b55;

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #676161;
  --color-infobox-1-bg: #cfcec6;
  --color-infobox-2-bg: #969995;
}
